.add-film{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  flex-direction: column;
  padding: 2%;
  top: 10%;
  width: 60%;
  min-height: 25em;
  background-color: #2d2c2a;
  border-radius: 10px;
  font-size: 20px;

  &__stars-list{
    width: 61%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 2%;
    color: #14B9D5;

    & li{
      margin-left: 5%;
    }
  }

  &__error-text, &__error-text-1{
    color: #e56c6c;
    margin-top: 5%;
  }

  &__error-text-year{
    margin-left: 33%;
  }

  &__error-text-1{
    position: absolute;
    margin-top: 9%;
  }

  &__confirm,&__confirm-1{
    width: 30%;
    height: 2em;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: #58e933;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans - Semibold";
    transition: 0.5s;
    cursor: pointer;
    margin-left: 5%;
  }

  &__confirm-1{
    margin-top: 5%;
    width: 20%;
    margin-left: 0;
  }

  &__confirm-1:hover{
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
  }

  &__confirm:hover{
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
  }

  &__add-star{
    width: 15%;
    height: 2em;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: #58e933;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans - Semibold";
    transition: 0.5s;
    cursor: pointer;
  }

  &__close{
    position: absolute;
    top: 4%;
    left: 2%;
    border: none;
    font-size: 30px;
    color: #e56c6c;
    background-color: #2d2c2a;
    cursor: pointer;
    transition: 0.5s;
  }

  &__close:hover{
    color: #d94949;
  }

  &__add-star:hover{
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
  }

  &__stars-box{
    width: 40%;
  }

  &__select{
    width: 50%;
    margin-left: 5%;
  }

  &__label{
    color: white;
    font-family: "Open Sans - Semibold";
  }

  &__input-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 5%;
  }

  &__input-text{
    width: 50%;
    padding-left: 1%;
    font-size: 20px;
    height: 2em;
    border-radius: 10px;
    border: none;
  }
}