.film-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 20%;
  margin: 1%;
  min-height: 6em;
  background-color: white;
  color: #2d2c2a;
  border: 3px solid #2d2c2a;
  border-radius: 20px;
  padding: 1%;
  transition: 0.5s;
  position: relative;
  overflow: hidden;

  &__delete{
    background-color: white;
    color: #e56c6c;
    font-size: 20px;
    border: none;
    position: absolute;
    top: 3%;
    right: 0;
    transition: 0.5s;
    cursor: pointer;
  }

  &__delete:hover{
    color: red;
  }

  &__show-more{
    @include flex-center;
    width: 30%;
    text-align: center;
    border: none;
    background-color: white;
    color: white;
    transition: 0.5s;
    right: -30%;
    position: absolute;
    bottom: 7%;
    font-size: 15px;
    cursor: pointer;
    & i{
      margin-left: 10%;
    }
  }

  &__title{
    -webkit-text-stroke: 3px #2d2c2a;
    font-size: 45px;
    color: white;
  }

  &__year{
    margin-top: 20%;
    font-size: 20px;

    &-number{
      color: #14B9D5;
    }
  }
}

.film-card:hover{

  .film-card__delete{
    background-color: #2d2c2a;
  }

  .film-card__show-more{
    right: 0;
    background-color: #2d2c2a;
  }

  transform: scale(1.1);
  background-color: #2d2c2a;
  .film-card__title{
    color: #2d2c2a;
    -webkit-text-stroke: 1px white;
  }

  .film-card__year{
    color: white;
    &-number{
      color: #14B9D5;
    }
  }
}

.film-card__show-more:hover{
  color: #14B9D5;
}