.header {
  background-color: #2d2c2a;
  width: 100%;
  @include flex-center;
  font-family: "Open Sans - Semibold";
  font-size: 55px;
  color: white;
  text-shadow: #14B9D5 0 -20px 4px;
  height: 2.5em;
  position: relative;

  &__add-film, &__back{
    position: absolute;
    left: 15%;
    background-color: #58e933;
    width: 8%;
    height: 3em;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans - Semibold";
    transition: 0.5s;
    cursor: pointer;
  }

  &__back{
    background-color: #e56c6c;
    left: 3%;
  }

  &__back:hover{
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
  }

  &__add-film:hover{
    box-shadow: 0 0 25px rgba(255, 255, 255, 0.5);
  }
}