#fountainG{
  display: block;
  position:relative;
  width:234px;
  height:28px;
  margin: 40px auto 10px auto;
}

.fountainG{
  position:absolute;
  top:0;
  background-color: #18cfab;
  width:28px;
  height:28px;
  animation-name:bounce_fountainG;
  animation-duration:1s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  transform:scale(.3);
  border-radius:19px;
}

#fountainG_1{
  left:0;
  animation-delay:0.446s;
}

#fountainG_2{
  left:29px;
  animation-delay:0.5525s;
}

#fountainG_3{
  left:58px;
  animation-delay:0.659s;
}

#fountainG_4{
  left:88px;
  animation-delay:0.7755s;
}

#fountainG_5{
  left:117px;
  animation-delay:0.882s;
}

#fountainG_6{
  left:146px;
  animation-delay:0.9985s;
}

#fountainG_7{
  left:175px;
  animation-delay:1.105s;
}

#fountainG_8{
  left:205px;
  animation-delay:1.2115s;
}



@keyframes bounce_fountainG{
  0%{
    transform:scale(1);
    background-color: #18CFAB;
  }

  100%{
    transform:scale(.3);
    background-color: #203E38;
  }
}