.modal{
  position: fixed;
  top: 10%;
  width: 40%;
  min-height: 15em;
  border-radius: 15px;
  background-color: #2d2c2a;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: "Open Sans - Semibold";
  font-size: 20px;

  &__button{
    font-family: "Open Sans - Semibold";
    width: 20%;
    height: 3em;
    text-transform: uppercase;
    border-radius: 10px;
    transition: 0.5s;
    background-color: white;
    color: #14B9D5;
    border: none;
    cursor: pointer;
  }

  &__button:hover{
    background-color: #14B9D5;
    color: white;
  }
}