.search{
  @include flex-center;
  width: 100%;
  margin-top: 5%;

  &__find-text{
    margin-right: 1%;
    font-size: 30px;
    color: #2d2c2a;
  }

  &__radio-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 3.5em;

    & label {
      color: #2d2c2a;
      font-size: 20px;
    }
  }

  &__input-text{
    font-family: "Open Sans - Semibold";
    width: 20%;
    height: 2em;
    margin-right: 5%;
    border-radius: 20px;
    outline: none;
    font-size: 25px;
    padding-left: 1%;
    color: #14b9d5;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  }
}


.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}


.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

.custom-radio:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.custom-radio:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-radio:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

.custom-radio:checked+label::before {
  border-color: #2b77d0;
  background-color: #14b9d5;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio:disabled+label::before {
  background-color: #e9ecef;
}