.film-info{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 0 25px rgba(20, 185, 213, 0.5);
  border-radius: 20px;
  padding: 2% 2% 2% 2%;

  &__blue-line{
    width: 3px;
    min-height: 10em;
    margin-right: 5%;
    background-color: #14B9D5;
  }

  &__stars-box{
    @include flex-center;
    width: 50%;
  }

  &__stars-h{
    font-size: 30px;
    color: #14B9D5;
    margin-right: 10%;
  }

  &__year, &__format{
    margin-top: 7%;
    font-size: 25px;
  }

  &__stars-list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    min-height: 8em;

    & li{
      margin-top: 3%;
    }
  }
}
