.films-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  font-family: "Open Sans - Semibold";
  font-size: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 0 25px rgba(20, 185, 213, 0.5);
  border-radius: 20px;
  padding: 2% 0 2% 0;

  &__no-matches{
    font-size: 40px;
    &-box{
      width: 100%;
      @include flex-center;
    }
  }
}

