@import "reset";
@import "fonts/fonts";
@import "mixins";
@import "components/header";
@import "sections/films-list";
@import "components/loading";
@import "components/film-cars";
@import "sections/film-info";
@import "components/search";
@import "components/add-film";
@import "components/modal";

div#root{
  font-family: "Open Sans - Semibold";
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

button{
  outline: none;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}